header {
    text-align: center;
    margin-bottom: 2%;
}

section {
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-size: 20em;
    line-height: 80%;
}

h2 {
    color: #bbb;
}

.ui-accordion-header.ui-state-default {
    background: #f5f5f5;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5%;
}

.ui-accordion-header.ui-state-default.ui-state-active {
    background: #0088CC;
}

.ui-accordion-header.ui-state-default:not(.ui-state-active):hover {
    background: #D9EDF7;
}

.ui-accordion-header>a {
    text-decoration: none;
    transition: color 0.2s;
}

.ui-accordion-header.ui-state-default>a {
    display: inline-block;
}
.ui-accordion-header.ui-state-default>a.btn {
    line-height: 80%;
    padding: 1%;
    text-shadow: none;
}

.ui-accordion a.btn {
    color: #fff !important;
}

.ui-accordion-header.ui-state-active>a {
    color: #f5f5f5 !important;
    text-shadow: none;
}

.pf-accordion {
    width: 50%;
    margin: 0 auto;
}

a:focus {
    outline: none;
}

.timeLeft {
    padding-left: 30px;
    color: #888;
}
